[Desktop Entry]
Type=Application
Icon=audio-card
Name=Wiremix
GenericName=Audio Settings
Comment=Using Wiremix
Exec=--class=wiremix -e wiremix
Categories=Audio;
Terminal=true
