.local/share/nvim
.local/share/pnpm
.local/state

# GTK
Configs/config_linux/.config/gtk-4.0/assets
Configs/config_linux/.config/gtk-4.0/gtk-dark.css
Configs/config_linux/.config/gtk-4.0/gtk.css

# OS Specifics
.DS_Store
Desktop.ini
