/**
 *
 * Author : Alan Cunha
 * Github : @alancunha26
 *
 * Rofi Theme File
 * Rofi Version: 1.7.9
 **/

@theme "fullscreen"

/*****----- Configuration -----*****/
configuration {
    show-icons:                 true;
}

listview {
  columns:                      1;
}

element {
  orientation:                  horizontal;
}

element-text {
    horizontal-align:            0;
}
