[Desktop Entry]
Name=Wiremix
GenericName=Audio Settings
Exec=--class=wiremix -e wiremix
Terminal=true
Type=Application
Keywords=Audio;Settings;
Icon=audio-card
Categories=Audio;Settings;
StartupWMClass=wiremix
